<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <header>
      <!-- place navbar here -->
    </header>
    <main>
      <h1 class="text-center mt-5">Student List Data</h1>
      <div class="container">
        <a type="button" class="btn btn-success" href="/student/add-from"
          >Add</a
        >
        <a type="button" class="btn btn-danger" href="/" role="button">Back</a>
        <table id="students" class="table"></table>
      </div>
    </main>
    <footer>
      <!-- place footer here -->
    </footer>

    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
      integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>

<script>
  // findAll();
  getApi();

  async function getApi() {
    const baseUrl = "http://localhost:3000/api/student";
    const res = await fetch(baseUrl);
    if (res.status !== 200) {
      alert("Something went wrong");
      return;
    }
    const jsonData = await res.json();
    show(jsonData);
  }

  function show(data) {
    let tab = `<tr>
            <th>*</th>
            <th>first_name</th>
            <th>last_name</th>
            <th>email</th>
            <th>phone_number</th>
           </tr>`;

    // Loop to access all rows
    for (let index = 0; index < data.length; index++) {
      tab += `<tr>
      <th scope="col">${index + 1} </th>
      <th scope="col">${data[index].first_name}</th>
      <th scope="col">${data[index].last_name}</th>
      <th scope="col">${data[index].email}</th>
      <th scope="col">${data[index].phone_number}</th>
      <th scope="col"><button type="button" onclick="editFrom(${
        data[index].id
      })">Edit</button></th>
        <th scope="col"><button type="button" onclick="deleteStudents(${
          data[index].id
        })">Delete</button></th>
   </tr>`;
    }
    // Setting innerHTML as tab variable
    document.getElementById("students").innerHTML = tab;
  }

  async function deleteStudents(id) {
    const baseUrl = `http://localhost:3000/api/student/delete/${id}`;
    const res = await fetch(baseUrl, {
      method: "DELETE",
    });
    if (res.status !== 200) {
      alert("ลองดูอีกครั้ง");
      return;
    }
    location.reload();
  }

  function editFrom(id) {
    localStorage.setItem("id", id);
    location.replace("/student/edit-from");
  }
</script>
